:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --font-primary: "Numito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px as 10/16=62.5 */ }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }
